@font-face {
    font-family: 'ThirdMan';
    src: url('./font/3rd Man.otf') format('opentype');
}

:root {
    --color-button-background: #ffffff;
    --color-button-border: #333333;
}

header h1 {
    font-family: 'ThirdMan', sans-serif;
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}

.subtitle {
    color: #666666;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    /* Add your dark mode styles here */
    body {
        background-color: #1a1a1a;
        color: #ffffff;
    }

    /* vars */
    :root {
        --color-button-background: #333333;
        --color-button-border: #666666;
    }
    
    /* Example: Change the color of headings */
    h1, h2, h3 {
        color: #ffcc00;
    }
    
    /* Example: Change the background color of buttons */
    .button {
        background-color: #333333;
        color: #ffffff;
    }

    input, textarea, select, button {
        background-color: #333333;
        color: #ffffff;
    }

    .subtitle {
        color: #cccccc;
    }
}

a, a:visited {
    color: unset;
    text-decoration: none;
}
